$darkGray: rgb(34, 34, 34);
$lightPurple: rgb(97, 47, 183);
$lightGreen:  rgb(153, 255, 153);
$darkPurple: rgba(97, 47, 183, 0.316);
$borderRadius: 10px;
$imgHeight: 290px;
$imgWidth: 200px;

@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
