.todoTitle {
    font-family: cursive;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}


.todo_form{
    flex-basis: 60%;
}
.container {
    margin: 0 auto;
    text-align: center;
}
.content__container{
    display: flex;
    justify-content: space-evenly;
}
